.hero-banner {
    background-image: url(home.png);
    background-size: cover;
    height: 550px;
    background-position: center;
    background-repeat: no-repeat;
}

.harga {
    font-weight: bold;
}

.section-title {
    color: #0d6efd;
}

.footer {
    height: 50px;
}

